[{:y 0
  :w 240
  :draw/op :node
  :h 44
  :id 1
  :class nil
  :x 0
  :tag :main
  :listeners nil}
 {:draw/op :rect
  :x 4
  :y 4
  :w 232
  :h 36
  :color "#112233"
  :tag :button}
 {:y 4
  :w 232
  :draw/op :node
  :h 36
  :id 2
  :class nil
  :x 4
  :tag :button
  :listeners (:click :key-down)}
 {:draw/op :text
  :x 12
  :y 12
  :text "Run"
  :color "#e6ebf5"
  :font-size 14}]
