{:abi/version 1
 :ops
 [{:op :create-element :id 1 :tag "main"}
  {:op :set-root :id 1}
  {:op :set-attr :id 1 :namespace "style" :name "width" :value "240"}
  {:op :create-element :id 2 :tag "button"}
  {:op :set-attr :id 2 :namespace nil :name "id" :value "run"}
  {:op :set-attr :id 2 :namespace "style" :name "background" :value "#112233"}
  {:op :add-event-listener :id 2 :name "click" :handler 99}
  {:op :add-event-listener :id 2 :name "key-down" :handler 100}
  {:op :create-text :id 3 :text "Run"}
  {:op :append-child :parent 2 :child 3}
  {:op :append-child :parent 1 :child 2}]}
