[{:y 0,
  :min-width nil,
  :box-sizing "content-box",
  :align-items "stretch",
  :scroll-top 0,
  :overflow nil,
  :w 240,
  :draw/op :node,
  :flex-wrap "nowrap",
  :max-width nil,
  :scroll-left 0,
  :z-index 0,
  :h 44,
  :opacity 1.0,
  :id 1,
  :class nil,
  :justify-content "flex-start",
  :display nil,
  :position "static",
  :x 0,
  :tag :main,
  :pointer-events nil,
  :listeners nil}
 {:draw/op :rect,
  :x 4,
  :y 4,
  :w 232,
  :h 36,
  :color "#112233",
  :tag :button,
  :opacity 1.0}
 {:y 4,
  :min-width nil,
  :box-sizing "content-box",
  :align-items "stretch",
  :scroll-top 0,
  :overflow nil,
  :w 232,
  :draw/op :node,
  :flex-wrap "nowrap",
  :max-width nil,
  :scroll-left 0,
  :z-index 0,
  :h 36,
  :opacity 1.0,
  :id 2,
  :class nil,
  :justify-content "flex-start",
  :display nil,
  :position "static",
  :x 4,
  :tag :button,
  :pointer-events nil,
  :listeners (:click :key-down)}
 {:draw/op :text,
  :x 12,
  :y 12,
  :text "Run",
  :color "#e6ebf5",
  :font-size 14,
  :opacity 1.0}]
