{:deps  {:aliases [:cljs]}
 :nrepl {:port 9632}
 :builds
 {:wasm-ui
  {:target     :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules    {:wasm-ui {:init-fn kotoba.wasm.demo/init!}}
   :release    {:compiler-options {:optimizations :advanced}}
   :devtools   {:watch-dir "public"
                :http-root "public"
                :http-port 8701}}

  :wasm-webgpu
  {:target     :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules    {:wasm-webgpu {:init-fn kotoba.wasm.demo-webgpu/init!}}
   :release    {:compiler-options {:optimizations :advanced}}
   :devtools   {:watch-dir "public"
                :http-root "public"
                :http-port 8701}}}}
